<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://unsplash.com/photos/SYTO3xs06fU);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
  
<%= button_to "logout", destroy_user_session_path, method: :delete  %>
<%= button_to "login", new_user_session_path, method: :create  %>



<footer>
  <div class="container">
    <a href=""><i class="fab fa-github mr-4 mb-4 pt-4"></i></a>
    <a href=""><i class="fa-brands fa-github"></i></a>
    <a href=""><i class=""></i></a>
    
    <small>Yūgen Project</small>
  </div>
</footer>
